name: Commit Day Moment

on:
  schedule:
    - cron: "0 7 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update GitHub Stats
        uses: thanhhaudev/github-stats@v1.3.1
        with:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          COMMIT_USER_NAME: DrkCde15
          COMMIT_USER_EMAIL: jcesarsantana215@gmail.com
